<!-- bag_filename를 인수로 주고 bag 파일을 재생, monitoring을 위한 rviz도 제공 -->

<launch>
  <arg name="bag_filename" 
  default="$(eval max(eval ('_' + '_import_' + '_(\'glob\')').glob(find('zzangdol_bringup')+'/bag/*'), key=eval ('_' + '_import_' + '_(\'os\')').path.getctime))"/>
  <!-- most recent bag file as bag_file -->

  <param name="/use_sim_time" value="true" />

  <include file="$(find zzangdol_bringup)/launch/zzangdol_state_publisher.launch"/>

  <node name="playbag" pkg="rosbag" type="play"
      args="$(arg bag_filename) --pause --clock "/>

  <node name="$(anon rviz)" pkg="rviz" type="rviz" required="false"
    args="-d $(find zzangdol_bringup)/rviz/record_monitoring.rviz" />

</launch>
