<!-- 
  zzangdol_bring_minimal와 함께 하나의 launch 파일로 바로 record
-->

<launch>
  <arg name="usb_config" default="false"/>
  <arg name="bag_filename" default="$(eval eval ('_' + '_import_' + '_(\'datetime\')').datetime.now().strftime('%Y-%m-%d_%H:%M:%S'))"/>


  <include file="$(find zzangdol_bringup)/launch/zzangdol_bring_minimal.launch">
    <arg name="rviz" default="false"/>
  </include>

  <node pkg="rosbag" type="record" name="bag_record" required="true" 
    args="/imu/data /scan -O $(find zzangdol_bringup)/bag/$(arg bag_filename).bag  "/>

  <node name="$(anon rviz)" pkg="rviz" type="rviz" required="false"
    args="-d $(find zzangdol_bringup)/rviz/record_monitoring.rviz" />
</launch>
