<!-- 
  bring all of sensor, tf, ros serial node and topic to operate zzangdol car
-->

<launch>
  <arg name="usb_config" default="false"/>

  <!-- 1. bringup HW state tf publisher-->
  <include file="$(find zzangdol_bringup)/launch/zzangdol_state_publisher.launch"/>

  <!-- 2. bringup myahrs sensor -->
  <include file="$(find zzangdol_bringup)/launch/zzangdol_myahrs.launch"/>

  <!-- 3. bringup lidar sensor -->
  <include file="$(find zzangdol_bringup)/launch/zzangdol_lidar.launch">
    <arg name="usb_config" value="$(arg usb_config)"/>
  </include>

  <!-- 4. bringup rosserial communication with mcu, cmd_Vel converter -->
  <include file="$(find zzangdol_bringup)/launch/zzangdol_core.launch">
    <arg name="multi_robot_name" value="$(arg multi_robot_name)"/>
    <arg name="usb_config" value="$(arg usb_config)"/>
  </include>

  <!-- ??? -->
  <!-- <node pkg="navstack_pub" type="zzangdol_diagnostics" name="zzangdol_diagnostics" output="screen"/> -->
</launch>
