<!-- -->

<launch>
  <arg name="multi_robot_name" default=""/>
  <arg name="usb_config" default="true"/>
  
  <arg unless="$(arg usb_config)" name="ardu_usb_port" value="1"/>
  <arg     if="$(arg usb_config)" name="ardu_usb_port" value="0"/>
  
  <!-- zzangdol_core -->
  <!-- <node pkg="rosserial_python" type="serial_node.py" name="zzangdol_core" output="screen">
    <param name="port" value="/dev/ttyUSB$(arg ardu_usb_port)"/>
    <param name="baud" value="115200"/>
    <param name="tf_prefix" value="$(arg multi_robot_name)"/>
  </node> -->
  <!-- cmd_vel converter  -->
  <node pkg="zzangdol_bringup" type="cmd_vel_converter" name="cmd_vel_converter" output="screen"/>
  <!-- current_pose_publisher  -->
  <node pkg="zzangdol_bringup" type="current_pose_publisher" name="current_pose_publisher" output="screen"/>

</launch>
