<launch>
  <arg name="multi_robot_name" default=""/>
  <arg name="set_lidar_frame_id" default="base_scan"/>

  <!-- bringup rosserial communication with mcu, cmd_Vel converter -->
  <include file="$(find zzangdol_bringup)/launch/zzangdol_core.launch">
    <arg name="multi_robot_name" value="$(arg multi_robot_name)"/>
  </include>

  <!-- bringup myahrs sensor -->
  <include file="$(find zzangdol_bringup)/launch/zzangdol_myahrs.launch">
  </include>

  <!-- bringup lidar sensor -->
  <include file="$(find zzangdol_bringup)/launch/zzangdol_lidar.launch">
    <arg name="set_frame_id" value="$(arg set_lidar_frame_id)"/>
  </include>

  <!-- bringup odom publisher -->
  <!-- <include file="$(find zzangdol_bringup)/launch/zzangdol_odom_tf_publisher.launch"/> -->

  <!-- <node pkg="navstack_pub" type="zzangdol_diagnostics" name="zzangdol_diagnostics" output="screen"/> -->
</launch>
