<launch>
  <arg name="multi_robot_name" default=""/>
  <arg name="set_lidar_frame_id" default="base_scan"/>

  <include file="$(find zzangdol_bringup)/launch/zzangdol_core.launch">
    <arg name="multi_robot_name" value="$(arg multi_robot_name)"/>
  </include>

  <include file="$(find zzangdol_bringup)/launch/zzangdol_myahrs.launch">
  </include>

  <include file="$(find zzangdol_bringup)/launch/zzangdol_lidar.launch">
    <arg name="set_frame_id" value="$(arg set_lidar_frame_id)"/>
  </include>
  <!-- <node pkg="zzangdol_bringup" type="zzangdol_diagnostics" name="zzangdol_diagnostics" output="screen"/> -->

</launch>