<!-- 
  Bring necessary things to get data, make bag file and simulate.
  sensor data, tf node & topic will be made from this launch file
-->

<launch>
  <arg name="multi_robot_name" default=""/>
  <arg name="usb_config" default="false"/>

  <!-- 1. bringup HW state tf publisher-->
  <include file="$(find zzangdol_bringup)/launch/zzangdol_state_publisher.launch"/>

  <!-- 2. bringup myahrs sensor -->
  <include file="$(find zzangdol_bringup)/launch/zzangdol_myahrs.launch"/>

  <!-- 3. bringup lidar sensor -->
  <include file="$(find zzangdol_bringup)/launch/zzangdol_lidar.launch">
    <arg name="usb_config" value="$(arg usb_config)"/>
  </include>

</launch>
